@charset "UTF-8";

.banner {
	width: 100%;
}

@charset "UTF-8";

@media screen and (min-width: 1024px) {
	.margin-center {
		margin-left: 0em;
	}
}

@media screen and (max-width: 1024px) {
	.margin-center {
		margin-left: 5em;
	}
}

.wrap {
	position:relative;
	flex-wrap:wrap;
}

/* Productos Box */
.gradient-box {
	margin: 20px;
	padding: 0px;
	align-items: center;
	max-width: 22em;
	position: relative;
	box-sizing: border-box;
	color: #000;
	background: #FFF;
	/*background-clip: padding-box;*/
	border-radius: 1em;
	transition: 0.5s;
	transition-timing-function: ease-in;
}

.gradient-box:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	margin: -3px;
	/* !importanté */
	border-radius: inherit;
	/* !importanté */
	background: linear-gradient(to right, #ff00d440, #33ff0063);
}

.gradient-box:hover {
	/* animation: mymove 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in; */
	transform: rotate(2deg);
}

.product {
	height: 240px;
	width: 240px;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

.product-title {
	border-image: linear-gradient(to right, #ff00d440, #33ff0063);
	border-image-slice: 1;
	border-top: 4px solid;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	text-align: center;
}

/* Navbar */
.navbar {
	margin-bottom: 50px;
	border-radius: 0;
	height: 56px;
	background: linear-gradient(to right, #ff00d429, #33ff003b);
	transition: 0.5s;
}

.navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

@media screen and (max-width: 1024px) {
.nav-col {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.nav-col-active {
  visibility: visible;
  opacity: 1;
}

}

@
keyframes mymove {
	from {
	display: none;
}

to {
	display: block;
}

}

/* Filter Button */
.btn1 {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.btn-filter:not(:disabled):not(.disabled) {
    cursor: pointer;
}
	
.btn-filter.focus, .btn-filter:focus {
    outline: 0;
    box-shadow: none;
}

.btn:focus, .btn:hover {
	text-decoration: underline;
}

@media screen and (min-width: 1024px) {
.btn-filter {
	border-left: none;
	border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-left: 20px;
	text-decoration: underline;
    transform: translateY(-2.5em);
	background: linear-gradient(to right, #fcb5effc, #b8f2a4);
    border-color: black;
    font-weight: 500;
    color: #212529 !important;
    transition: 0.5s;
}

.btn-filter:hover, .btn-filter-disabled {
	background: linear-gradient(to right, #ff00d429, #33ff0045);
	text-decoration: none;
	}

.btn-filter-disabled {
    padding: .375rem .75rem;
	}
	
.btn-filter-disabled:hover {
	text-decoration: underline;
	}
}

@media screen and (max-width: 1024px) {
	.btn-filter {
	border-left: none;
	border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
	text-decoration: none;
    transform: translateY(-2.5em);
	background: linear-gradient(to right, #ff00d429, #33ff0045);
    border-color: black;
    font-weight: 500;
    color: #212529 !important;
    transition: 0.5s;
}

.btn-filter-disabled {
	background: linear-gradient(to right, #fcb5effc, #b8f2a4);
	text-decoration: underline;
	}

.btn-filter-disabled {
    padding-left: 20px;
	}
}

/* Sidebar */
body {
	overflow-x: hidden;
}

.sidebar {
	margin-top: 1em;
	border: 1px solid;
	border-left: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background: linear-gradient(to right, #ffd6f8, #e0f1d6);
}

.sidebar-item {
	background-color: transparent !important;
}

.sidebar-item p {
	position: relative;
	display: block;
	margin-bottom: -1px;
	transition: 0.7s;
}

.sidebar-item:hover, .actual-item {
	background: linear-gradient(to right, #ff00d429, #33ff003b);
	font-weight: 500;
}

.sidebar-item:hover p, .actual-item p {
	transform: translate(10px);
}

#sidebar-wrapper {
	margin-left: -20rem;
	-webkit-transition: margin .25s ease-out;
	-moz-transition: margin .25s ease-out;
	-o-transition: margin .25s ease-out;
	transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
	padding: 0.875rem 1.25rem;
	font-size: 1.2rem;
	border-top-right-radius: 8px;
}

#sidebar-wrapper .list-group {
	width: 15rem;
}

#page-content-wrapper {
	min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
	margin-left: 0;
	margin-right: 5em;
}

@media ( min-width : 768px) {
	#sidebar-wrapper {
		margin-left: 0;
		margin-right: 5em;
	}
	#page-content-wrapper {
		min-width: 0;
		width: 100%;
	}
	#wrapper.toggled #sidebar-wrapper {
		margin-left: -20rem;
	}

/* Buscador */
	.search {
		color: #ab6e23;
		border-color: #ab6e23;
	}
	.search:not (:disabled ):not (.disabled ):active {
		color: #fff;
		background-color: #ab6e23;
		border-color: #ab6e23;
	}
	.search:hover {
		color: #fff;
		background-color: #ab6e23;
		border-color: #ab6e23;
	}
	.search.focus, .search:focus {
		box-shadow: 0 0 0 .2rem rgba(153, 97, 29, .5)
	}
	.search:not (:disabled ):not (.disabled ).active:focus, .search:not (:disabled 
		):not (.disabled ):active:focus, .show>.search.dropdown-toggle:focus {
		box-shadow: 0 0 0 .2rem rgba(153, 97, 29, .5)
	}

	/* Add a gray background color and some padding to the footer */
	footer {
		background-color: #f2f2f2;
		padding: 25px;
	}
	@media ( min-width : 1200px) {
		.container {
			width: 90%;
			max-width: 90%;
		}
	}
	.panel-heading {
		font-size: 18px;
		font-weight: bold;
	}
	.precio {
		font-size: 18px;
		font-weight: bold;
		padding-top: 5px;
	}
	.panel-producto {
		cursor: pointer;
	}

	/* Estilos para la factura */
	.invoice-title h2, .invoice-title h3 {
		display: inline-block;
	}
	.invoice-body .table>tbody>tr>.no-line {
		border-top: none;
	}
	.invoice-body .table>thead>tr>.no-line {
		border-bottom: none;
	}
	.invoice-body .table>tbody>tr>.thick-line {
		border-top: 2px solid;
	}
}