@charset "UTF-8";

.banner {
	width: 100%;
}

@charset "UTF-8";

.wrap {
	position:relative;
	flex-wrap:wrap;
}

.gradient-box {
	margin:20px;
	padding:0px;
	align-items: center;
	max-width: 22em;
	position: relative;
	box-sizing: border-box;
	color: #000;
	background: #FFF;
	/*background-clip: padding-box;*/
	border-radius: 1em;
	transition: 0.5s;
    transition-timing-function: ease-in;
}

.gradient-box:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	margin: -3px;
    /* !importanté */
	border-radius: inherit;
    /* !importanté */
	background: linear-gradient(to right, #ff00d440, #33ff0063);
}

.gradient-box:hover {
 /* animation: mymove 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in; */
  transform: rotate(2deg);
}

@keyframes mymove {
  from {transform: initial;}
  to {transform: rotate(2deg);}
}

.product {
	height: 240px;
	width: 240px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.product-title {
	border-image: linear-gradient(to right, #ff00d440, #33ff0063);
    border-image-slice: 1;
    border-top: 4px solid;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    text-align: center;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
	margin-bottom: 50px;
	border-radius: 0;
	background: linear-gradient(to right, #ff00d429, #33ff003b);
}

.search {
	color: #ab6e23;
	border-color: #ab6e23;
}

.search:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #ab6e23;
	border-color: #ab6e23;
}

.search:hover {
	color: #fff;
	background-color: #ab6e23;
	border-color: #ab6e23;
}
.search.focus, .search:focus {
	box-shadow: 0 0 0 .2rem rgba(153, 97, 29, .5)
}

.search:not (:disabled ):not (.disabled ).active:focus,
	.search:not (:disabled ):not (.disabled ):active:focus, .show>.search.dropdown-toggle:focus
	{
	box-shadow: 0 0 0 .2rem rgba(153, 97, 29, .5)
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
	margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
	background-color: #f2f2f2;
	padding: 25px;
}

@media ( min-width : 1200px) {
	.container {
		width: 90%;
		max-width: 90%;
	}
}

.panel-heading {
	font-size: 18px;
	font-weight: bold;
}

.precio {
	font-size: 18px;
	font-weight: bold;
	padding-top: 5px;
}

.panel-producto {
	cursor: pointer;
}

/* Estilos para la factura */
.invoice-title h2, .invoice-title h3 {
	display: inline-block;
}

.invoice-body .table>tbody>tr>.no-line {
	border-top: none;
}

.invoice-body .table>thead>tr>.no-line {
	border-bottom: none;
}

.invoice-body .table>tbody>tr>.thick-line {
	border-top: 2px solid;
}