@charset "UTF-8";

.banner {
	width: 100%;
}

body {
	
}
/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
	margin-bottom: 50px;
	border-radius: 0;
}

.search {
	color: #ab6e23;
	border-color: #ab6e23;
}

.search:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #ab6e23;
	border-color: #ab6e23;
}

.search:hover {
	color: #fff;
	background-color: #ab6e23;
	border-color: #ab6e23;
}
.search.focus, .search:focus {
	box-shadow: 0 0 0 .2rem rgba(153, 97, 29, .5)
}

.search:not (:disabled ):not (.disabled ).active:focus,
	.search:not (:disabled ):not (.disabled ):active:focus, .show>.search.dropdown-toggle:focus
	{
	box-shadow: 0 0 0 .2rem rgba(153, 97, 29, .5)
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
	margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
	background-color: #f2f2f2;
	padding: 25px;
}

@media ( min-width : 1200px) {
	.container {
		width: 90%;
		max-width: 90%;
	}
}

.panel-heading {
	font-size: 18px;
	font-weight: bold;
}

.precio {
	font-size: 18px;
	font-weight: bold;
	padding-top: 5px;
}

.panel-producto {
	cursor: pointer;
}

/* Estilos para la factura */
.invoice-title h2, .invoice-title h3 {
	display: inline-block;
}

.invoice-body .table>tbody>tr>.no-line {
	border-top: none;
}

.invoice-body .table>thead>tr>.no-line {
	border-bottom: none;
}

.invoice-body .table>tbody>tr>.thick-line {
	border-top: 2px solid;
}