<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Elletersa</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}" type="image/x-icon">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="../static/js/functions.js" th:src="@{/js/functions.js}"></script>
</head>
<body>
<!-- Navbar -->
<script>HTMLImporter.import("/html/navbar.html");</script>

	<!-- <form th:action="@{/auth/logout}" method="POST" id="logoutForm"></form> -->

	<div class="container">
		<div class="row">
			<div class="col-lg-4" th:each="producto : ${productos}">

				<div class="panel panel-default panel-producto">
					<a th:href="@{/public/producto/{id}(id=${producto.id})}"
						style="display: none"></a>
					<div class="panel-heading">
						<span th:text="${producto.nombre}">NOMBRE DEL PRODUCTO</span>
					</div>
					<div class="panel-body">
						<img
							th:src="${#strings.isEmpty(producto.imagen)} ? 'http://placehold.it/350x260' : ${producto.imagen}"
							class="img-responsive center-block" alt="Image"
							style="height: 300px;">
					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-6 precio">
								<span class="precio"
									th:text="${#numbers.formatCurrency(producto.precio)}"></span>
							</div>
							<div class="col-md-6" sec:authorize="isAuthenticated()"
								th:if="${#authentication.name != producto.propietario.email}">
								<a th:href="@{/app/carrito/add/{id}(id=${producto.id})}" class="pull-right btn btn-success btn-product"><span
									class="glyphicon glyphicon-shopping-cart"></span>&nbsp;Comprar</a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<br>
	<br>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
		th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

	<script type="text/javascript">
		$(document).ready(
				function() {
					$('.panel-producto').children().not(".panel-footer").click(
							function() {
								window.location = $(this).parent().find("a")
										.attr("href");
								return false;
							});
				});
	</script>


</body>
</html>
